@import url("dark_theme.css");
.pages label{
    padding-right: .5em;
    font-weight: bold;
}

.pages div{
    padding-bottom: .5em;
}

label {
    color: purple;
}

.ui.green.button {
    color: black;
    background-color: yellow;
}

.left {
    color: black;
}

.language > .text {
    color: purple;
}

a[href$="gogs\.io\/"]{
    color: purple;
}
.version {
    color: purple;
}

.ui.left {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: purple;
    
  }
  
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: purple;
 
}
  
  h1 {
      color: purple;
  }
 
  .ui.menu .item {
      color: purple;
  }

  .ui.secondary.menu .active.item {
    color: darkorchid;
}
body{
    margin: 0px auto; 
}

